version: 2.1
jobs:
  build:
    parameters:
      python:
        type: string
        description: Python version to use (e.g. "3.7", "3.11")
      sqlalchemy:
        type: string
        description: |
          SQLAlchemy version to use (e.g. "2.0.0", "1.4.0").
          This value is used for the "compatible release" specifier (~=)
          See https://peps.python.org/pep-0440/#compatible-release.
    working_directory: ~/circleci
    resource_class: large
    docker:
      - image: cimg/python:<< parameters.python >>
      - image: cimg/postgres:12.12
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: circleci
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: cimg/mariadb:10.11
        environment:
          MYSQL_DATABASE: circleci
          MYSQL_USER: circleci
          MYSQL_PASSWORD: ''
          MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

    environment:
      SQLALCHEMY_SILENCE_UBER_WARNING: 1  # Silence sqlalchemy 2.0 warnings
    steps:
      - checkout
      - restore_cache:
          key: deps-py-<< parameters.python >>-{{ .Branch }}-{{ checksum "pyproject.toml" }}
      - run: sudo apt-get update
      - run: sudo apt-get install -y postgresql-client
      - run: sudo apt-get install -y default-mysql-client
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -wait tcp://localhost:3306 -timeout 1m
      - run:
          name: create postgres user
          command: psql postgresql://@localhost/circleci -c 'create role postgres'
      - run:
          name: create mysql user
          command: mysql circleci -u root -h 127.0.0.1 -e "create user 'circleci'@'127.0.0.1'; grant all privileges on *.* to 'circleci'@'127.0.0.1' identified by '';"
      - run:
          name: install deps
          command: |
            python3 -m venv ~/.venv
            . ~/.venv/bin/activate

            poetry config virtualenvs.create false
            poetry install --no-ansi
            pip install pytest-xdist # we can speed up tests by running in parallel
      - save_cache:
          key: deps-py-<< parameters.python >>-{{ .Branch }}-{{ checksum "pyproject.toml" }}
          paths:
            - "~/.venv"
      - run:
          name: Check formatting
          command: |
            . ~/.venv/bin/activate
            make lint
      - run:
          name: Test with SQLAlchemy ~= << parameters.sqlalchemy >>
          command: |
            . ~/.venv/bin/activate
            pip install 'sqlalchemy~=<< parameters.sqlalchemy >>'
            PYTEST_ARGS="-n4" make test
      - store_test_results:
          path: test-reports

  publish:
    working_directory: ~/circleci
    docker:
      - image: cimg/python:3.7
    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          key: deps-py-3.7-{{ .Branch }}-{{ checksum "pyproject.toml" }}
      - run:
          name: Install deps
          command: |
            python3 -m venv ~/.venv
            . ~/.venv/bin/activate

            poetry config virtualenvs.create false
            poetry install --no-ansi
      - run:
          name: Bump version, build, install
          command: |
            . ~/.venv/bin/activate
            python deploy/vbump.py
            poetry build
            poetry config pypi-token.pypi "$PYPI_API_TOKEN"
            poetry publish


workflows:
  build-then-publish:
    jobs:
      - build:
          matrix:
            parameters:
              python: ["3.7", "3.8", "3.9", "3.10", "3.11"]
              sqlalchemy: ["1.3.24", "1.4.49", "2.0.0", "2.0.31"]
      - publish:
          requires:
            - build
          filters:
            branches:
              only: master
